@{
    ViewBag.Title = "Inicio de Sesión";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <div class="card">
            <div class="card-body">

                <!-- Título centrado -->
                <div class="text-center mb-4">
                    <h3 class="mb-2 fw-bold">Proyecto Finanzas</h3>
                    <p class="text-muted">Inicio de sesión</p>
                </div>

                <form id="formAuthentication" class="mb-3" method="post" action="@Url.Action("Index","Home")">
                    <!-- Correo -->
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico o Usuario</label>
                        <input type="text"
                               class="form-control"
                               id="correo"
                               name="correo-usuario"
                               autofocus />
                    </div>

                    <!-- Contraseña -->
                    <div class="mb-2 form-password-toggle">
                        <label class="form-label" for="Contrasena">Contraseña</label>
                        <div class="input-group input-group-merge">
                            <input type="password"
                                   id="Contrasena"
                                   class="form-control"
                                   name="Contrasena"
                                   aria-describedby="Contrasena" />
                            
                        </div>
                    </div>

                    <!-- Olvidó su contraseña -->
                    <div class="mb-3 text-start">
                        <a href="@Url.Action("RecuperarAcceso","Home")" class="small">
                            ¿Olvidó su contraseña?
                        </a>
                    </div>

                    <!-- Botón -->
                    <div class="mb-3">
                        <a href="@Url.Action("Principal","Home")"
                           class="btn btn-primary d-grid w-100"
                           role="button">
                            Iniciar Sesión
                        </a>
                    </div>
                </form>

                <!-- Registro -->
                <p class="text-center mb-0">
                    <span>¿Eres nuevo?</span>
                    <a href="@Url.Action("Registro","Home")">
                        <span>Regístrate</span>
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>
