@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
            <div class="card-body">
                <h4 class="mb-2">Bienvenido al proyecto Finanzas!</h4>
                <p class="mb-4">Inicio de Sesión</p>

                <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico o Usuario</label>
                        <input type="text"
                               class="form-control"
                               id="correo"
                               name="correo-usuario"
                               autofocus />
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="Contrasena">Contraseña</label>
                            <a href="auth-forgot-password-basic.html">
                                <small>Olvidó su contraseña?</small>
                            </a>
                        </div>
                        <div class="input-group input-group-merge">
                            <input type="password"
                                   id="Contrasena"
                                   class="form-control"
                                   name="Contrasena"
                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                   aria-describedby="Contrasena" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember-me" />
                            <label class="form-check-label" for="Recuérdame"> Recuérdame </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Iniciar Sesión</button>
                    </div>
                </form>

                <p class="text-center">
                    <span>Eres nuevo?</span>
                    <a href="auth-register-basic.html">
                        <span>Regístrate</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
