@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <div class="card">
            <div class="card-body">

                <!-- Título centrado -->
                <div class="text-center mb-4">
                    <h3 class="fw-bold mb-2">Crear Cuenta</h3>
                    <p class="text-muted">Completa la información para registrarte</p>
                </div>

                <form id="formAuthentication" class="mb-3" method="post" action="@Url.Action("Registro","Home")">
                    <div class="mb-3">
                        <label for="identificacion" class="form-label">Identificación</label>
                        <input type="text" class="form-control" id="identificacion" name="Identificacion" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="Nombre" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="CorreoElectronico" />
                    </div>
                    <div class="mb-4 form-password-toggle">
                        <label class="form-label" for="password">Contraseña</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" class="form-control" name="Contrasenna"
                                    aria-describedby="password" />
                            
                        </div>
                    </div>

                    <a href="@Url.Action("Index","Home")"
                       class="btn btn-primary d-grid w-100"
                       role="button">
                        Procesar
                    </a>
                </form>

                <p class="text-center mb-0">
                    <span>¿Ya tienes una cuenta?</span>
                    <a href="@Url.Action("Index","Home")">
                        <span>Iniciar Sesión</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
